
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="mode === 'new'">Nouvel utilisateur</ion-title>
    <ion-title *ngIf="mode === 'connect'">Connexion</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="authForm">
      <ion-list>
          <ion-item>
              <ion-label>Adresse email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Mot de passe</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
      </ion-list>
      <button ion-button 
              full 
              (click)="onSubmitForm()" 
              color="secondary"
              [disabled]="authForm.invalid">Soumettre</button>
      <span ion-text color="danger">{{ errorMessage }}</span>
    </form>
</ion-content>
