<ion-menu [content]="content" side="left">
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item icon-start (click)="onNavigate(authPage, {mode: 'new'})" *ngIf="!isAuth">
                <ion-icon name="person-add" color="secondary"></ion-icon>
                Nouvel utilisateur
            </button>
            <button ion-item icon-start (click)="onNavigate(authPage, {mode: 'connect'})" *ngIf="!isAuth">
                <ion-icon name="person" color="secondary"></ion-icon>
                Connexion
            </button>
            <button ion-item icon-start (click)="onNavigate(tabsPage)" *ngIf="isAuth">
                <ion-icon name="book" color="secondary"></ion-icon>
                Livres & CD
            </button>
            <button ion-item icon-start (click)="onNavigate(settingsPage)" *ngIf="isAuth">
                <ion-icon name="settings" color="secondary"></ion-icon>
                Réglages
            </button>
            <button ion-item icon-start (click)="onDisconnect()" *ngIf="isAuth">
                <ion-icon name="exit" color="secondary"></ion-icon>
                Déconnexion
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="tabsPage" #content></ion-nav>