
<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button clear ion-button (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ cd.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card [ngClass]="{'is-lend' : cd.isLend}">
    <ion-card-header>{{ cd.name }}</ion-card-header>
    <ion-card-content>
      <p>{{ cd.description }}</p>
      <em *ngIf="cd.isLend">Emprunté par {{ cd.borrower }}</em>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button full 
                  ion-button 
                  color="danger"
                  [disabled]="cd.isLend"
                  (click)="onLendCd()">Emprunter</button>
        </ion-col>
        <ion-col>
          <button full 
                  ion-button 
                  color="secondary"
                  [disabled]="!cd.isLend"
                  (click)="onReturnCd()">Rendre</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <form [formGroup]="lendForm">
    <ion-list *ngIf="cd.isLend">
      <ion-item>
        <ion-label>Emprunteur</ion-label>
        <ion-input type="text" formControlName="borrower"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button 
            full 
            (click)="onSubmitLendCd()" 
            color="danger"
            [disabled]="lendForm.invalid">Enregistrer</button>
  </form>
</ion-content>
