
<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CD</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item 
            *ngFor="let cd of cdsList; let i = index"
            [ngClass]="{'is-lend': cd.isLend}"
            (click)="onLoadCd(i)">
      <h2>{{ cd.name }}</h2>
      <h3>{{ cd.description }}</h3>
      <p *ngIf="cd.isLend">Emprunté par : {{ cd.borrower }}</p>
    </button>
  </ion-list>
</ion-content>
